/*google fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@300&display=swap');

/*asteresk to overide */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*genral style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}



/*generic style*/
color: #3a3a3a;

/*header*/
header {
    background-color: lightcoral;
}

h1 {
    font-family: 'Owald', sans-serif;
}

/*main content*/
main {
    background-color: lightblue;
    /*make main*/
    flex: 1 0 auto;
}


/*footer*/
footer {
    background-color: orange;
}